@media screen and (max-width: 425px) {
  .header-nav_menu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    margin-left: 85px;
  }
  .header-banner_gb-img {
    background-position: left;
    width: 100%;
    height: 707px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-banner__content {
    margin-left: 284px;
  }
  .header-banner__content {
    display: flex;
    flex-direction: column;
  }
  .contacts-section__phone-text > span {
    font-size: 18px;
  }
  .btn__call {
    font-size: 18px;
  }
  .header-banner__content > p {
    font-size: 26px;
  }
  .header-banner_content__btn-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .btn-section_btn-calculate {
    font-size: 15px;
  }
  .btn-section_btn-submit-app {
    font-size: 15px;
  }
  .btn-section_btn-calculate {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .completed-example___column-desc {
    margin-left: 304px;
    margin-top: 6px;
  }
  .col-example_choice-city {
    display: none;
  }
  .completed-example___column-desc-img {
    margin-top: 41px;
    margin-left: 290px;
  }
  .col-example-img {
    max-width: 100%;
    width: 589px;
    height: 482px;
    margin-bottom: 30px;
  }
  .col-example-stroke-left {
    display: flex;
    width: 66px;
    height: 66px;
    border-radius: 40px;
    margin-left: 10px;
  }
  .col-example-stroke-left > svg {
    width: 30px;
    height: 34px;
  }
  .col-example-stroke-right {
    display: flex;
    width: 66px;
    height: 66px;
    border-radius: 40px;
    margin-left: 10px;
  }
  .col-example-stroke-right > svg {
    width: 30px;
    height: 34px;
  }
  .title-complete-project {
    font-size: 37px;
    line-height: 39px;
  }
  .col-example-text > p {
    font-size: 19px;
    line-height: 32px;
  }
  .desc-project_city > span {
    font-size: 25px;
    line-height: 25px;
  }
  .col-example-arrow-pagination {
    display: none;
  }
  .desc-project_city > p {
    font-size: 20px;
  }
  .desc-project_area-aparment {
    margin-left: 60px;
  }
  .desc-project_area-aparment > p {
    font-size: 20px;
  }
  .desc-project_repair-time > span {
    font-size: 25px;
    line-height: 25px;
  }
  .desc-project_repair-time > p {
    font-size: 20px;
  }
  .desc-project_area-aparment > span {
    font-size: 25px;
  }
  .desc-project_repair-cost > span {
    font-size: 25px;
    line-height: 25px;
  }
  .desc-project_repair-cost > p {
    font-size: 20px;
  }
  .control-img-frame {
    width: 607px;
    margin-left: 262px;
  }
  .main-bottom-desc_online-control-title > h2 {
    font-size: 30px;
    margin-left: 265px;
    margin-top: 30px;
  }

  .camera-svg > svg {
    width: 54px;
    height: 64px;
  }
  .line-left {
    width: 52px;
  }
  .line-right {
    width: 52px;
  }
  .camera-img-svg {
    display: flex;
    align-items: center;
    margin-bottom: 31.21px;
    margin-left: 475px;
  }
  .main-bottom-desc {
    margin-top: 0px;
  }

  .our-clients-container {
    display: none;
  }
  .our-clients-cards-container {
    display: none;
  }
  .footer-bg {
    display: none;
  }
  .cards-container-gallery {
    flex-direction: column;
  }
  .col-example-title-mobile-version {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  .title-complete-project-mobile-version {
    display: flex;
    font-family: "Yeseva One", serif;
    font-size: 43px;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-bg);
    text-align: center;
  }
  .col-example-text-mobile-version > p {
    display: flex;
    font-size: 23px;
    line-height: 27px;
    margin-block-start: 64px;
    margin-block-end: 72px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .col-example-title {
    display: none;
  }
  .col-example-text {
    display: none;
  }
  .completed-example__row {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .col-example-desc-project-city {
    display: none;
  }
  .col-example-desc-project-repair {
    display: none;
  }
  .col-example-desc-project-city-mobile-version {
    display: flex;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .col-example-desc-project-repair-mobile-version {
    display: flex;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .main-bottom-desc-mobile-version {
    display: flex;
    margin-top: 0px;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .main-bottom-desc {
    display: none;
  }

  .form-content-mobile-version {
    display: flex;
    margin-left: 235px;
    margin-top: 12.5px;
  }

  .form-content_text-mobile-version {
    display: flex;
    margin-left: 255px;
    width: 601px;
    height: 131px;
    margin-bottom: 50px;
  }
  .form-content-block-mobile-version .form-content_text-mobile-version > p {
    display: flex;
    font-size: 21px;
  }
  .form-content {
    display: none;
  }
  .form-content_text {
    display: none;
  }
  .form-content-block .form-content_text > p {
    display: none;
  }
  /*--- Feed back FORM ---*/
  .form-container {
    margin-left: 135px;
    margin-top: 30px;
    display: none;
  }

  .form-container-mobile-version {
    display: flex;
    margin-left: 135px;
    margin-top: 30px;
  }
  
  .inline-form {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inline-form .input-form-float-name-label > label {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 10px;
    color: rgb(54 54 54);
    margin-top: 63px;
    }
  
  .inline-form .input-form-float-name-label > input {
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 13px;
    width: 521px;
    margin-right: -58px;
    margin-bottom: 20px;
    background-color: var(--color-bg-section);
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  }
  .inline-form .input-form-float-name-label > input::placeholder {
    font-size: 23px;
    line-height: 23px;
    color: #ffffff;
  }
  .inline-form .input-form-float-phone-label > label {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 10px;
    color: rgb(54 54 54);
    margin-top: 63px;
  }
  .inline-form .input-form-float-phone-label > input {
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 13px;
    width: 521px;
    margin-right: -58px;
    margin-bottom: 20px;
    background-color: var(--color-bg-section);
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  }
  .inline-form .input-form-float-phone-label > input::placeholder {
    font-size: 23px;
    line-height: 23px;
    color: #ffffff;
  }
  .inline-form > button {
    padding: 30px 186px 30px 186px;
    font-size: 25px;
    margin-left: 105px;
    margin-top: 20px;
    margin-bottom: -45px;
    z-index: 1;
  }
  .inline-form > label:last-child {
    font-size: 24px;
    padding-left: 40px;
    padding-top: 3px;
  }
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 75.85px;
    margin-top: 37.24px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkmark {
    height: 28px;
    width: 28px;
  }
  .container-checkbox .checkmark:after {
    left: 11px;
    top: 4px;
    width: 8px;
    height: 15px;
  }
  .our-clients-container {
    display: none;
  }
  .our-clients-cards-container {
    display: none;
  }
  .footer-bg {
    display: none;
  }
  .cards-container {
    margin-top: 98px;
  }
  .cards-container_subtitle {
    margin-left: 245px;
  }
  .cards-container_repair {
    margin-left: 245px;
  }
  .cards-container-gallery {
    flex-direction: column;
  }
  .cards-container-row {
    flex-direction: column;
    margin-left: 165px;
  }
  .cards-container-column {
    display: flex;
    margin-bottom: 200px;
  }
  .cards-container-row .cards-container-column:last-child {
    margin-top: 0px;
  }
  .cards-content-img-redecoration {
    width: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
    padding-bottom: 0px;
    padding-left: 117px;
    padding-right: 50px;
  }
  .cards-content-desc {
    margin-left: -119px;
  }
  .cards-content-img-overhaul {
    width: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
    padding-bottom: 0px;
    padding-left: 117px;
    padding-right: 50px;
  }
  .cards-content-img-repair {
    width: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
    padding-bottom: 0px;
    padding-left: 117px;
    padding-right: 50px;
  }
  .cards-content-desc > h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .cards-content-desc > ul > li {
    font-size: 21px;
    line-height: 30px;
  }
  .main-bottom-feeds {
    display: none;
  }
  .main-bottom-gallery-section {
    display: none;
  }
  .bottom-feedback-form-section {
    display: none;
  }
  .footer-nav {
    display: none;
  }
  .footer-gallery-slider-mobile-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-left: 235px;
    margin-bottom: -270px;
  }
  .footer-gallery-slider-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gallery-slider-img {
    background-image: url(img/gallery_bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 589px;
    height: 482px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slider-img-title > h2{
    font-family: 'Yeseva One',serif;
    font-size: 47px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-bg);
  }
  .footer-feed-form-container {
    display: flex;
    margin-top: 0px;
    margin-left: 135px;
    padding-left: 61.5px;
    padding-right: 51.5px;
    background: var(--color-bg-section);
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 230px;
  }
  .footer-feed-form-container .subtitle > h3 {
    font-family: "Yeseva One", serif;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 52px;
    margin-block-end: 52px;
    margin-left: 52px;
  }
  .footer-form {
    margin-left: 85px;
  }
  .footer-flex-input {
    display: flex;
    flex-direction: column;
  }
  .footer-form-group {
    display: flex;
    flex-direction: column;
  }
  .footer-form-group > label {
    font-size: 25px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 7px;
  }
  .footer-form-group > input {
    margin-bottom: 64px;
    background-color: var(--color-bg-section);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.753);
  }
  .footer-form-group > input::placeholder {
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
  }
  .footer-form-group > button {
    background: var(--color-bg);
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 18.84px;
    padding-bottom: 18.84px;
  }
  .footer-form-group {
    margin-bottom: 40px;
  }
  .map-adress-point {
    margin-left: 89px;
    width: 585px;
  }
  .bottom-contacts {
    margin-left: 75px;
  }
  .bottom-contacts-adress-phone > span {
    display: flex;
    flex-direction: column;
    font-family: "Yeseva One", serif;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-bg);
  }
  .email-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    width: 58px;
    height: 58px;
    border-radius: 35px;
  }
  .instagram-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    width: 58px;
    height: 58px;
    border-radius: 35px;
  }
  .email-icon > a > svg {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
  .instagram-icon > a > svg {
    margin-top: 4px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .header-nav_menu {
    margin-left: 175px;
  }
  .footer-gallery-slider-mobile-version {
    margin-left: 275px;
  }
  .footer-form {
    margin-left: 115px;
  }
  .map-adress-point {
    margin-left: 80px;
    width: 585px;
    padding-left: 40px;
    padding-right: 0px;
  }
  .bottom-contacts {
    margin-left: 115px;
  }
}

@media screen and (max-width: 325px) {
  .col-example-img {
    max-width: 90%;
    margin-left: 20px;
    width: 569px;
  }
  .col-example-text-mobile-version > p {
    padding-left: 40px;
  }
  .btn-section_btn-calculate {
    font-size: 25px;
  }
  .btn-section_btn-submit-app {
    font-size: 25px;
  }
  .col-example-desc-project-city-mobile-version {
    margin-left: 40px;
  }
  .col-example-desc-project-repair-mobile-version {
    margin-left: 40px;
  }
  .control-img-frame {
    width: 527px;
    margin-left: 302px;
  }
  .main-bottom-desc_online-control-title > h2 {
    padding-left: 30px;
  }
  .camera-img-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 289px;
    margin-left: 0px;
  }
  .form-content_text-mobile-version {
    display: flex;
    margin-left: 255px;
    width: 481px;
    height: 131px;
    margin-bottom: 50px;
  }
  .form-container-mobile-version {
    display: flex;
    margin-left: 205px;
    margin-top: 30px;
  }
  .cards-container_subtitle > h2 {
    font-size: 25px;
  }
  .repair-img-svg > svg {
    margin-left: 9.47px;
    margin-right: 9.47px;
    width: 50px;
    height: 50px;
  }
  .cards-container-column {
    display: flex;
    margin-bottom: 200px;
    margin-right: 0px;
  }
  .footer-gallery-slider-mobile-version {
    margin-left: 295px;
  }
  .footer-feed-form-container .subtitle > h3 {
    font-family: "Yeseva One", serif;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 52px;
    margin-block-end: 52px;
    margin-left: 122px;
  }
}
